/dts-v1/;
/plugin/;

/ {
    compatible = "shafeeque,dtb_sample";
    fragment@0 {
        target-path = "/";
        __overlay__ {
            my_dt_device {
                compatible = "mydevice,sample";
                status = "up";
                label = "Learn DTB";
                my_value = <1200>;
            };
        };
    };
};
